.heading {
  font-size: 18px;
  font-weight: 500;
}

.base_spirit_type_container {
  border: 1px solid;
  margin: 10px 0;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.container {
  padding: 5px 0;
  border-bottom: 1px solid;
}
