.header {
  display: flex;
  justify-content: space-between;
}
.header .left {
  display: flex;
  align-items: center;
}

.header .left .nickname {
  font-weight: 600;
  margin-right: 8px;
}

.header .left .created_at {
  font-size: 0.9em;
}

.header .right .wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
}
