.header {
  display: flex;
  justify-content: space-between;
}

.header_right {
  display: flex;
  align-items: end;
}

.header_right .nickname {
  margin-right: 10px;
}

.header_right .created_at {
  margin-right: 10px;
  font-size: 0.9em;
}
