.comment_input {
  display: flex;
}

.input {
  width: 99%;
  margin-right: 1%;
  background: none;
  border: none;
  border-bottom: 1px solid #424242;
}

.input:focus {
  outline: none;
}

.button {
  flex-shrink: 0;
  border: none;
  background: none;
  color: #4083e0;
  font-weight: 600;
  padding: 0;
}
