.post_item {
  width: 30%;
  background-color: #222;
  padding: 20px;
  border-radius: 20px;
  font-size: 0.9em;
}

.post_item > * {
  margin-bottom: 12px;
}

.post_item > *:last-child {
  margin-bottom: 0;
}
