.cocktail_item_summary {
  width: 53%;
  overflow: scroll;
}

.tastes_list_wrapper {
  margin: 5px 0;
}

.title {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.sub_title {
  font-size: 16px;
  font-weight: 600;
}

.title:hover {
  border-bottom: 1px solid #fff;
}

.tastes_list,
.ingredients_list {
  display: flex;
  flex-wrap: wrap;
}

.taste_item,
.ingredient_item {
  background: #2c2c2c;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
}
