.alcohol_container {
  margin-bottom: 16px;
}

.alcohol_inner > *:last-child {
  margin-bottom: 0;
}

.title_container {
  margin-top: 16px;
  margin-left: 10px;
}

.button_container {
  margin-top: 16px;
}
