.container {
  width: 500px;
  margin: 100px auto;
}

.login_button {
  width: 100%;
  border: none;
  padding: 5px 16px 6px 16px;
  background-color: #4083e0;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;
}

.find_container {
  margin: 16px 0 0 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.find_container > * {
  margin: 0 10px;
  font-size: 0.8em;
  cursor: pointer;
}
