.heading {
  font-size: 18px;
  font-weight: 500;
}

.cocktail_container {
  border: 1px solid;
  margin: 10px 0;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.container {
  padding: 5px 0;
  border-bottom: 1px solid;
}

.ingredients_container {
  display: flex;
}

.ingredients_container .base_spirit_name {
  margin-right: 10px;
}
.cocktail_image {
  width: 100%;
}
