.input_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.input_name {
  margin-right: 16px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1em;
}

.input_value {
  padding: 7px 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #515151;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  outline: none;
}
