.button_container {
  text-align: center;
  display: inline-block;
  padding: 5px 16px 6px 16px;
  border-radius: 5px;
  cursor: pointer;
}
.value {
  font-size: 1em;
  font-weight: 600;
}

.large {
  width: 100%;
}
